.task{
    margin-top: 10px;
    width: 100%;
    height: 250px;
    background-color: rgba(0, 208, 255, 0.171);
    font-family: Helvetica, sans-serif;
    font-size: small;
    .chip-list{
        position: relative;
        top: 10px;
    }
    mat-chip {
        padding: 4px 9px !important;
      }      
}